<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=768, user-scalable=yes">
    <title th:text="${error == null} ? ${article.title} : '존재하지 않는 글'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        span::after {
            content: " ";
            margin: 0 6px;
        }
    </style>
</head>
<body>
<div class="p-3 mb-5 text-center bg-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/articles" style="text-decoration:none;">
            <img src="/img/j.png" alt="J">
<!--            <span class="h4 text-dark align-middle">'s 블로그</span>-->
        </a>
        <div>
            <button type="button" sec:authorize="isAnonymous()" class="btn btn-outline-primary m-1 rounded-pill"
                    onclick="location.href='/signup'">회원가입</button>
            <button type="button" sec:authorize="isAnonymous()" class="btn btn-outline-primary m-1 rounded-pill"
                    onclick="location.href='/login'">로그인</button>
        </div>
        <input type="hidden" id="csrf" th:value="${_csrf?.token}">
        <div sec:authorize="isAuthenticated()">
            <button type="button" class="btn btn-outline-primary m-1 rounded-pill"
                    onclick="location.href='/userinfo'">내 정보</button>
            <button type="button" class="btn btn-outline-primary m-1 rounded-pill"
                    id="logout-btn">로그아웃</button>
        </div>
    </div>
</div>

<div class="container mb-5" th:if="${error != null}">
    <div class="alert alert-danger" th:text="${error}"></div>
</div>

<div class="container mb-5" th:if="${error == null}">
    <article>
        <input type="hidden" id="article-id" th:value="${article.id}">

        <header class="mb-2">
            <h1 class="font-weight-bold mb-3" style="white-space:pre-wrap;word-break:break-all;overflow-wrap:anywhere;" th:text="${article.title}"></h1>
            <div class="d-flex align-items-center">
                <span>
                    <a th:href="|/articles?category=${article.category}|" class="alert alert-secondary text-muted px-1 py-0"
                       style="text-decoration-color:#6c757d;" th:text="|${article.category}|"></a>
                </span>
                <span class="text-muted" th:text="${article.author}"></span>
                <span class="text-muted" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <hr>
        </header>
        <section class="mb-4">
            <div style="white-space:pre-wrap;word-break:break-all;" th:utext="${@commonUtil.markdownToHtml(article.content)}"></div>
        </section>
        <div class="d-flex justify-content-end">
            <button type="button" sec:authorize="isAuthenticated()" th:onclick="|location.href='/write-article?id=' + ${article.id}|"
                    class="btn btn-primary btn-sm mr-1 rounded-pill">수정</button>
            <button type="button" sec:authorize="isAuthenticated()" id="delete-btn"
                    class="btn btn-secondary btn-sm rounded-pill">삭제</button>
        </div>
    </article>

    <hr>
    <h4 class="font-weight-bold mb-2">댓글</h4>

    <section th:each="comment : ${article.comments}">
        <input type="hidden" id="comment-id" th:value="${comment.id}">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="font-weight-bold" th:text="${comment.author.nickname}"></span>
                <span class="small text-muted" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <button sec:authorize="isAuthenticated()" th:data-id="${comment.id}" class="comment-delete-btn btn shadow-none text-muted align-middle">×</button>
        </div>
        <div style="white-space:pre-wrap;word-break:break-all;" th:text="${comment.content}"></div>
        <hr>
    </section>

    <section class="my-3">
        <div sec:authorize="isAuthenticated()" class="border rounded p-2">
            <textarea class="w-100" id="content" rows="3" placeholder="댓글을 입력해 주세요." maxlength="200"
                      style="resize:none;border:0;outline:0;" aria-label="댓글 입력"></textarea>
            <div class="d-flex justify-content-end">
                <button type="button" id="comment-create-btn" class="btn btn-primary btn-sm rounded-pill">등록</button>
            </div>
        </div>
        <div sec:authorize="isAnonymous()" class="border rounded p-3">
            <div class="text-center">로그인 후 댓글을 달 수 있습니다.</div>
        </div>
    </section>

</div>

<script type="module" src="/js/article.js"></script>
<script type="module" src="/js/user.js"></script>
</body>
</html>
