<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .card {
            transition: transform 0.1s ease;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        span::after {
            content: " ";
            margin: 0 6px;
        }
    </style>
</head>
<body>
<div class="p-3 mb-5 text-center bg-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/articles" style="text-decoration:none;">
            <img src="/img/j.png" alt="j">
            <span class="h4 text-dark align-middle">'s 블로그</span>
        </a>
        <button type="button" sec:authorize="isAnonymous()" class="btn btn-primary m-1 rounded-pill"
                onclick="location.href='/login'">로그인</button>
        <button type="button" sec:authorize="isAuthenticated()" class="btn btn-secondary m-1 rounded-pill"
                onclick="location.href='/logout'">로그아웃</button>
    </div>
</div>

<div class="container">
    <button type="button" sec:authorize="isAuthenticated()" onclick="location.href='/write-article'"
            class="btn btn-primary btn-lg shadow"
            style="position:fixed;bottom:20px;right:20px;z-index:100;border-radius:50%;width:60px;height:60px;">&#x270F;</button>
    <div class="d-flex justify-content-between mb-3">
        <label>
            <select class="form-control w-auto rounded-pill" onchange="location.href=value">
                <option th:selected="${#strings.equals(param.sort, 'latest')}" value="/articles">최신 순</option>
                <option th:selected="${#strings.equals(param.sort, 'oldest')}" value="/articles?sort=oldest">작성 순</option>
            </select>
        </label>
        <div>
        </div>
    </div>
    <div th:each="item : ${articles}">
        <div class="card shadow" style="cursor:pointer;" th:onclick="|location.href='@{/articles/{articleId}(articleId=${item.id})}'|">
            <div class="card-body">
                <h5 class="card-title font-weight-bold" th:text="${item.title}"></h5>
                <p class="card-text" style="white-space:wrap;word-break:break-all;" th:text="${item.content}"></p>
                <hr class="mt-4">
                <div class="d-flex align-items-center">
                    <span class="text-muted" th:text="${item.author}"></span>
                    <span class="text-muted" th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}"></span>
                    <span class="text-muted" th:text="|댓글(${#lists.size(item.comments)})|"></span>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>