<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .card {
            transition: transform 0.1s ease;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card-text {
            height: 72px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        span::after {
            content: " ";
            margin: 0 6px;
        }
    </style>
</head>
<body>
<div class="p-3 mb-5 text-center bg-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/articles" style="text-decoration:none;">
            <img src="/img/j.png" alt="J">
<!--            <span class="h4 text-dark align-middle">'s 블로그</span>-->
        </a>
        <div>
            <button type="button" sec:authorize="isAnonymous()" class="btn btn-outline-primary m-1 rounded-pill"
                    onclick="location.href='/login'">로그인</button>
            <button type="button" sec:authorize="isAnonymous()" class="btn btn-outline-primary m-1 rounded-pill"
                    onclick="location.href='/signup'">회원가입</button>
        </div>
        <input type="hidden" id="csrf" th:value="${_csrf?.token}">
        <button type="button" sec:authorize="isAuthenticated()" class="btn btn-outline-primary m-1 rounded-pill"
                id="logout-btn">로그아웃</button>
    </div>
</div>

<div class="container">
    <button type="button" onclick="location.href='/write-article'" class="btn btn-primary btn-lg shadow"
            style="position:fixed;bottom:20px;right:20px;z-index:100;border-radius:50%;width:60px;height:60px;">&#x270F;</button>
    <div class="d-flex justify-content-between mb-3">
        <select class="form-control w-auto rounded-pill" th:onchange="|changeParam('sort', value)|" aria-label="정렬">
            <option th:selected="${#strings.equals(param.sort, 'id,desc')}" value="id,desc">최신 순</option>
            <option th:selected="${#strings.equals(param.sort, 'id,asc')}" value="id,asc">작성 순</option>
        </select>
    </div>

    <div th:each="article : ${page}">
        <div class="card shadow d-flex flex-row justify-content-between" style="cursor:pointer;"
             th:onclick="|location.href='@{/articles/{articleId}(articleId=${article.id})}'|"
             th:with="preview = ${@commonUtil.previewImage(article.content)}">
            <div class="card-body" th:classappend="${!preview.isEmpty()} ? 'w-75'">
                <h5 class="card-title font-weight-bold" th:text="${article.title}"></h5>
                <div class="card-text" th:text="${@commonUtil.markdownToText(article.content)}"></div>
                <hr>
                <div class="d-flex align-items-center">
                    <span class="text-muted" th:text="${article.author}"></span>
                    <span class="text-muted" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></span>
                    <span class="text-muted" th:text="|댓글(${article.commentCount})|"></span>
                </div>
            </div>
            <div th:if="${!preview.isEmpty()}" class="w-25" style="height:207px;overflow:hidden;">
                <img th:src="${preview}" alt="미리보기"
                     class="w-100" style="height:inherit;object-fit:cover;">
            </div>
        </div>
        <br>
    </div>

    <div class="m-3">
        <ul class="pagination justify-content-center" th:with="buttons = 10">
            <li class="page-item" th:classappend="${page.number < buttons} ? 'disabled'">
                <a class="page-link" th:onclick="|changeParam('page', ${page.number / buttons * buttons})|" style="cursor:pointer;">이전</a>
            </li>
            <li th:each="p: ${#numbers.sequence(page.number / buttons * buttons + 1, page.number / buttons * buttons + buttons)}"
                th:if="${p <= page.totalPages}"
                th:classappend="${p == page.number + 1} ? 'active'"
                class="page-item">
                <a th:text="${p}" class="page-link" th:onclick="|changeParam('page', ${p})|" style="cursor:pointer;"></a>
            </li>
            <li class="page-item" th:classappend="${page.number >= (page.totalPages - 1) / buttons * buttons} ? 'disabled'">
                <a class="page-link" th:onclick="|changeParam('page', ${page.number / buttons * buttons + buttons + 1})|" style="cursor:pointer;">다음</a>
            </li>
        </ul>
    </div>
    <hr>

    <form class="d-flex justify-content-center mb-5" th:action="@{/articles}" method="get">
        <input type="hidden" id="sort" name="sort" th:value="${param.sort}">
        <select class="form-control w-auto rounded-pill mx-1" id="type" name="type" aria-label="검색 종류">
            <option th:selected="${#strings.equals(param.type, 'title')}" value="title">제목</option>
            <option th:selected="${#strings.equals(param.type, 'content')}" value="content">제목+본문</option>
            <option th:selected="${#strings.equals(param.type, 'author')}" value="author">작성자</option>
        </select>
        <div class="form-control rounded-pill d-flex justify-content-between align-items-center pl-3 pr-0" style="width:200px;height:38px;">
            <input style="background-color:transparent;width:136px;border:0;outline:0;" type="search" placeholder="검색"
                   id="keyword" name="keyword" th:value="${param.keyword}" maxlength="50" required>
            <button class="btn rounded-pill shadow-none" type="submit">&#128269;</button>
        </div>
    </form>

</div>

<script type="module" src="/js/user.js"></script>
<script>
    function changeParam(key, value) {
        const url = new URL(window.location.href);
        if (key === "sort")
            url.searchParams.set("page", "1");
        url.searchParams.set(key, value);
        window.location.href = url.toString();
    }
</script>
</body>
</html>