<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .vr {
            display: inline-block;
            align-self: stretch;
            width: 1px;
            min-height: 1em;
            background-color: currentColor;
            opacity:.25;
        }
    </style>
</head>
<body>
<a href="/articles" style="text-decoration:none;">
    <div class="p-5 mb-5 text-center bg-light shadow">
        <img src="/img/j.png" class="mb-3">
        <h4 class="mb-3 text-dark">블로그에 오신 것을 환영합니다.</h4>
    </div>
</a>

<div class="container mb-5">
    <div class="text-center">
        <div class="alert alert-danger d-inline-block" th:if="${error} != null" th:text="${error}"></div>
    </div>
    <article th:if="${error} == null">
        <input type="hidden" id="article-id" th:value="${article.id}">
        <input type="hidden" id="csrf" th:value="${_csrf?.token}">

        <header class="mb-4">
            <h1 class="font-weight-bold mb-0" style="white-space:pre-wrap;word-break:break-all;" th:text="${article.title}"></h1>
            <div class="d-flex align-items-center">
                <span class="text-muted" th:text="|작성자: ${article.author}|"></span>
                <span class="vr mx-2"></span>
                <span class="text-muted" th:text="|작성 시각: ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}|"></span>
                <span class="vr mx-2" th:if="${article.createdAt} != ${article.updatedAt}"></span>
                <span class="text-muted" th:if="${article.createdAt} != ${article.updatedAt}"
                      th:text="|최근 수정 시각: ${#temporals.format(article.updatedAt, 'yyyy-MM-dd HH:mm:ss')}|"></span>
            </div>
        </header>
        <section class="mb-4">
            <p class="mb-4" style="white-space:pre-wrap;word-break:break-all;" th:text="${article.content}"></p>
        </section>
        <div class="d-flex justify-content-end">
            <button type="button" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/write-article?id={articleId}(articleId=${article.id})}'|"
                    class="btn btn-primary btn-sm mr-1">수정</button>
            <button type="button" sec:authorize="isAuthenticated()" id="delete-btn"
                    class="btn btn-secondary btn-sm">삭제</button>
        </div>
    </article>

    <hr>
    <h5 class="font-weight-bold mb-2">댓글</h5>

    <section th:each="comment : ${article.comments}">
        <input type="hidden" id="comment-id" th:value="${comment.id}">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="font-weight-bold" th:text="${comment.author.nickname}"></span>
                <span class="small text-muted" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <button th:data-id="${comment.id}" class="comment-delete-btn btn shadow-none text-muted align-middle">×</button>
        </div>
        <div style="white-space:pre-wrap;word-break:break-all;" th:text="${comment.content}"></div>
        <hr>
    </section>

    <section class="my-3">
        <div class="mb-2">
            <textarea class="form-control" id="content" rows="3" placeholder="댓글을 입력해 주세요." maxlength="200" style="resize:none;"></textarea>
        </div>
        <button type="button" id="comment-create-btn" class="btn btn-primary btn-sm float-right">등록</button>
    </section>

</div>

<script src="/js/article.js"></script>
</body>
</html>
